{{page-title 'Index'}}
<h1>Hello, Tauri 😄</h1>
<LinkTo @route='from-ember'>Click here</LinkTo>
<div style='margin-top: 8px'>
  <button style='cursor: pointer;' {{on 'click' this.notifyMe}}>Test Desktop
    Notification</button>
</div>